
        body{
            background-image: url("../images/1.png");
            background-size: 1920px 1080px;
            background-repeat: no-repeat;
             opacity: 0.9;
      }
   
      h1{
        margin:0;
        padding:0;
        list-style:none;
        text-decoration:none;
        width:100%;
        height:450px;
        color: white;
        text-align: center;
        font-size: 100px;
        background-color: black;
        display:block
  
    
      }